<?xml version="1.0"?>
<appSettings>
  <!-- Keys for BotFramework -->
  <add key="BotId" value="SitUpChair" />
  <add key="MicrosoftAppId" value="4488bab4-1a1b-4121-b257-de828ab0e03a" />
  <add key="MicrosoftAppPassword" value="rta4oeK9GNM8HHOmzxWnGjm" />

  <!-- Keys for LUIS Ada-->
  <add key="ModelId" value="eae753de-b345-4dbc-92bb-89dcc3370d47"/>
  <add key="SubscriptionKey" value="c92c0eae16504449a3b19fc72452483f"/>

</appSettings>